[submodule "external/libxml2/libxml2"]
	path = external/libxml2/libxml2
	url = https://github.com/GNOME/libxml2.git
	branch = v2.9.7
	ignore = dirty
[submodule "external/SOEM"]
	path = external/SOEM
	url = https://github.com/ingeniamc/SOEM.git
	branch = v1.4.1
[submodule "external/log.c"]
	path = external/log.c
	url = https://github.com/rxi/log.c.git
